body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;

  /* CENTER EVERYTHING */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #00f7ff;
  text-shadow: 0 0 20px #00f7ff;
  margin-bottom: 40px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
}

/* BIGGER BUTTONS 🔥 */
button {
  background: #111;
  border: 3px solid #00f7ff;
  color: #00f7ff;
  padding: 30px;
  margin: 15px;
  font-size: 35px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

/* HOVER EFFECT */
button:hover {
  background: #00f7ff;
  color: black;
  box-shadow: 0 0 25px #00f7ff;
}

/* STOP BUTTON */
.stop {
  border-color: red;
  color: red;
}

.stop:hover {
  background: red;
  color: black;
  box-shadow: 0 0 25px red;
}
